<!--- CONTACT US
====================================== -->

<div class="container" style="padding-bottom:80px; text-align:center;">
	<div class="row">
		<div class="col-md-12" style="max-width: 600px; margin: 0 auto; float: none;">
			
			<% unless params[:id].nil? || params[:id] == 0 %>
			  <% angel = Angel.find(params[:id]) %>
			  <div class="profile-pic-sm" style="background-image: url(<%= angel.img %>)"></div>
			  <h1>Contact <%= angel.name %></h1>
			
			<% else %>
			  <h1 style="margin-top:20px;">Reach out to us Anytime</h1>
			<% end %>

			<p>We read every message. Drop us a
			line.</p>

			<%= simple_form_for @contact, :html => {:class => 'contact-form' } do |f| %>
			    <%= f.input :message, :as => :text, :required => true %>
			    <%= f.input :email, :required => true %>
			    <div class= "hidden">
			      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
			    </div>
			    <div>
			      </br>
			      <%= f.button :submit, 'Send message', :class=> "btn btn-lg btn-uxa" %>
			      <%= puts params[:id] %>
			    </div>
			<% end %>
			
		</div>

	</div>
</div>