<!DOCTYPE html>
<!--
  
888   | Y88b    /      &      888b    |  e88~~\  888~~  888     ,d88~~\
888   |  Y88b  /      d8b     |Y88b   | d888     888___ 888     8888    
888   |   Y88b/      /Y88b    | Y88b  | 8888 __  888    888     `Y88b   
888   |   /Y88b     /  Y88b   |  Y88b | 8888   | 888    888      `Y88b, 
Y88   |  /  Y88b   /____Y88b  |   Y88b| Y888   | 888    888        8888 
 "8__/  /    Y88b /      Y88b |    Y888  "88__/  888___ 888____ \__88P' 

Everything here is Creative Commons, share alike.
Page Layout, Design, CSS & HTML by @woodenfox -->

<html lang="en">

<head>
	
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, user-scalable=no" name="viewport">

  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta content="" name="description">
  <meta content="" name="author">
  <link href="../../favicon.ico" rel="icon">
  <title>UX Angels - Helping startups change the world—pro bono</title>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <!-- BOOTSTRAP CSS 3.3.5 CDN: --> <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <!-- OXYGEN FONT CDN: --> <link href='https://fonts.googleapis.com/css?family=Oxygen:400,700,300' rel='stylesheet' type='text/css'>
  <!-- WORK SANS FON CDNT: --><link href='https://fonts.googleapis.com/css?family=Work+Sans:700,500,300'rel='stylesheet' type='text/css'>
  <!-- ANIMATE CSS CDN --><link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css"rel="stylesheet">

</head>

<body>

<!--- HEADER 
====================================== -->

     <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><span style="color: #04bdeb">UX</span><span style="font-family: 'Oxygen', sans-serif;">Angels</span></a>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/static_pages/about">About</a></li>
            <li><a href="/static_pages/contact">Contact</a></li>          
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<!--- MAIN YIELD 
====================================== -->

  <%= yield %>


<!--- FOOTER 
====================================== -->
  
  <footer class="footer">
	  
    <p>
      Designed and built with love by <a style="color:white;" href="http://twitter.com/woodenfox">@woodenfox.</a>
    </p>
    <p>
      Perfection is achieved, not when there is nothing more to add, but when there is nothing left to take away. Antoine de Saint-Exupery
    </p>
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="<%=image_path("creative-commons.png")%>"></a>
 
  </footer>
  
<!-- BOOTSTRAP JS 3.3.5 CDN --> <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!-- JQUERY 1.11.3 CDN --> <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 

</body>
</html>
